
<!-- Copyright 2020 Oleg Borodin <borodin@unix7.org> -->

<layout>

    <h5>Incoming</h5>

    <form accept-charset="UTF-8" [formGroup]="searchForm">
        <div class="form-row">

            <div class="col-6 my-1">
                <div class="input-group input-group-sm flex-nowrap">
                    <div class="input-group-prepend">
                        <div class="input-group-text">{{ result.total }}</div>
                    </div>
                    <input type="text" class="form-control" id="user-pattern" formControlName="pattern" />
                </div>
            </div>

            <div class="col-2 ml-auto">

                <div class="input-group input-group-sm flex-nowrap">
                    <select class="custom-select" formControlName="limit" id="page-limit">
                        <option [ngValue]="3">3</option>
                        <option [ngValue]="5">5</option>
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                    </select>
                </div>
            </div>

        </div>
    </form>

    <table class="table table-striped table-hover table-sm">

        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>agent</th>
                <th>division</th>
                <th>value</th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let item of result.list; let i = index">
                <tr>
                    <td>{{ i + result.offset + 1 }}</td>
                    <td>{{ item.agentName }}</td>
                    <td>{{ item.divisionName }}</td>
                    <td>{{ item.value }}</td>
                </tr>
            </ng-container>

        </tbody>


    </table>
    <pager [limit]="result.limit" [total]="result.total" [offset]="result.offset" (newOffset)="setNewOffset($event)" ></pager>


</layout>
